doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title ::Samantha::
		script(src="/socket.io/socket.io.js")
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="/js/fake-events.js")
		script(src="/js/fake.js")
	body
		h1 Samantha Fake Events
		div(id="buttons")
			button(type="button" id="read") Fake Read
			br
			button(type="button" id="alarm-triggered") Fake Alarm(Alarm Triggered)
			br
			button(type="button" id="driver") Fake Alarm(Driver fails)
			br
			button(type="button" id="alarm-on") Alarm On
			br
			button(type="button" id="alarm-off") Alarm Off
			br
			button(type="button" id="station-on") Station On
			br
			button(type="button" id="station-off") Station Off
		div(id="server-response")

