doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title ::Samantha::
		script(src="/socket.io/socket.io.js")
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="/js/fake-events.js")
		script(src="/js/fake.js")
	body
		h1 Samantha Fake Events
		div(id="buttons")
			button(type="button" id="read") Fake Read
			br
			br
			button(type="button" id="station-on") Station On
			br
			button(type="button" id="station-off") Station Off
			br
			br
			button(type="button" id="alarm-triggered-1") Fake Alarm(Door 1)
			br
			button(type="button" id="alarm-on-1") Alarm On(Door 1)
			br
			button(type="button" id="alarm-off-1") Alarm Off(Door 1)
			input(type="text" id="cooldown-1" size="3")
			br
			button(type="button" id="change-to-on-1") Open(Door 1)
			br
			button(type="button" id="change-to-off-1") Close(Door 1)	
			br
			br
			button(type="button" id="alarm-triggered-2") Fake Alarm(Move 1)
			br
			button(type="button" id="alarm-on-2") Alarm On(Move 1)
			br
			button(type="button" id="alarm-off-2") Alarm Off(Move 1)
			input(type="text" id="cooldown-2" size="3")
			br
			br
			button(type="button" id="alarm-triggered-3") Fake Alarm(Door 2)
			br
			button(type="button" id="alarm-on-3") Alarm On(Door 2)
			br
			button(type="button" id="alarm-off-3") Alarm Off(Door 2)
			input(type="text" id="cooldown-3" size="3")
			br
			br
			button(type="button" id="alarm-triggered-4") Fake Alarm(Move 2)
			br
			button(type="button" id="alarm-on-4") Alarm On(Move 2)
			br
			button(type="button" id="alarm-off-4") Alarm Off(Move 2)
			input(type="text" id="cooldown-4" size="3")
		div(id="server-response")

